main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-view {
    width: 800px;
    height: fit-content;
    background-color: rgba(199, 238, 250, 0.897);
    margin: 5px 0;
    display: flex;
}

.blog-view img {
    margin: 10px;
    height: 100px;
    min-width: 100px;
}

.blog-view div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-view div h3,
.blog-view div h4,
.blog-view div p {
    padding-bottom: 10px;
}

.blog-view div a {
    width: max-content;
    text-decoration: none;
    color: blue;
}

.blog-view div a:last-child {
    margin-left: auto;
}

.blog-view div a:hover {
    text-decoration: underline;
}

.blog-view div a span {
    font-size: large;
}
